@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:lightcoral">
    <h1 style="color:white">Task Organizer</h1>
    <p class="lead" style="color:beige">Introducing Order, Reducing Chaos One Task At A Time</p>
</div>

<div>
    <h4>@ViewBag.Message</h4>
</div>
